.links{
    display: flex;
    width: 100%;
    justify-content: center;
}

footer h3{
    margin: 0 auto;
    width: fit-content;
    font-size: 23px;
}

footer{
    padding: 2rem 4rem;
    width: 100%;
    background-color: rgb(48, 48, 48);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links ul a{
    color:white;
    background-color:rgb(48, 48, 48) ;
    border: none;

}

footer p{
    margin: 0 auto;
    width: fit-content;
}

